# 1. 忽略编译生成目录
build/
bin/
lib/

# 2. 忽略 VS Code 本地配置 (每个人习惯不一样，不要强加给别人)
.vscode/

# 3. 忽略 Docker 缓存和系统文件
.DS_Store
Thumbs.db

# 4. 忽略编译中间文件
*.o
*.exe
*.out


# MATLAB 忽略清单
*.asv
*.autosave
slprj/
_mex/
*.mexw64
*.slxc
*.mat  # 如果数据太大，建议也忽略，或者用 git lfs